<div class="card">
    <p class="card-header">
        {{ student.identity.firstName }}
        {{ student.identity.lastName }}
        ({{ student.identity.birthdayDate|date('d/m/Y') }}) -
        {{ student.identity.gender|trans([], 'gender') }}
        <br>
        {{ student.house|trans([], 'house') }} -
        Année {{ student.currentYear }}
    </p>
    <div class="card-body">
        <h3 class="card-title">
            {{ student.identity.ancestry.ancestry|trans([], 'ancestry') }}
        </h3>
        <p>
            <strong>{{ 'student.ancestry.motherAncestry'|trans }} :</strong>
            {{ student.identity.ancestry.motherAncestry.ancestry|trans([], 'ancestry') }}
        </p>
        <p>
            <strong>{{ 'student.ancestry.fatherAncestry'|trans }} :</strong>
            {{ student.identity.ancestry.fatherAncestry.ancestry|trans([], 'ancestry') }}
        </p>

        <p>
            <strong>{{ 'student.ancestry.raisingWorld'|trans }} :</strong>
            {{ student.identity.raisingWorld|trans([], 'raising_world') }}
        </p>

        <h3 class="card-title">
            {{ 'student.wand.title'|trans }}
        </h3>

        <p>
            <strong>{{ 'student.wand.wood'|trans }} :</strong>
            {{ student.wand.essenceWood|trans([], 'wand') }}
        </p>
        <p>
            <strong>{{ 'student.wand.heart'|trans }} :</strong>
            {{ student.wand.hearth|trans([], 'wand') }}
        </p>
        <p>
            <strong>{{ 'student.wand.size'|trans }} :</strong>
            {{ student.wand.size|trans([], 'wand') }}
        </p>

        <h3 class="card-title">
            {{ 'student.characteristics.title'|trans }}
        </h3>

        <div class="container">
            <div class="row">
                <p class="col-4">
                    <strong>{{ 'student.characteristics.body'|trans }}: </strong>
                    {{ student.characteristics.body }}
                </p>
                <p class="col-4">
                    <strong>{{ 'student.characteristics.spirit'|trans }}: </strong>
                    {{ student.characteristics.spirit }}
                </p>
                <p class="col-4">
                    <strong>{{ 'student.characteristics.heart'|trans }}: </strong>
                    {{ student.characteristics.heart }}
                </p>
            </div>
        </div>

        <h3 class="card-title">
            {{ 'student.skills.title'|trans }}
        </h3>
        <div class="container">
            <div class="row">
                <p class="col-6">
                    <strong>{{ 'student.skills.accuracy'|trans }}</strong>
                    {{ student.skills.accuracy }}
                </p>
                <p class="col-6">
                    <strong>{{ 'student.skills.bluff'|trans }}</strong>
                    {{ student.skills.bluff }}
                </p>
                <p class="col-6">
                    <strong>{{ 'student.skills.decorum'|trans }}</strong>
                    {{ student.skills.decorum }}
                </p>
                <p class="col-6">
                    <strong>{{ 'student.skills.discretion'|trans }}</strong>
                    {{ student.skills.discretion }}
                </p>
                <p class="col-6">
                    <strong>{{ 'student.skills.fight'|trans }}</strong>
                    {{ student.skills.fight }}
                </p>
                <p class="col-6">
                    <strong>{{ 'student.skills.joke'|trans }}</strong>
                    {{ student.skills.joke }}
                </p>
                <p class="col-6">
                    <strong>{{ 'student.skills.perception'|trans }}</strong>
                    {{ student.skills.perception }}
                </p>
                <p class="col-6">
                    <strong>{{ 'student.skills.persuasion'|trans }}</strong>
                    {{ student.skills.persuasion }}
                </p>
                <p class="col-6">
                    <strong>{{ 'student.skills.romance'|trans }}</strong>
                    {{ student.skills.romance }}
                </p>
                <p class="col-6">
                    <strong>{{ 'student.skills.rumor'|trans }}</strong>
                    {{ student.skills.rumor }}
                </p>
                <p class="col-6">
                    <strong>{{ 'student.skills.stamina'|trans }}</strong>
                    {{ student.skills.stamina }}
                </p>
                <p class="col-6">
                    <strong>{{ 'student.skills.tactical'|trans }}</strong>
                    {{ student.skills.tactical }}
                </p>
            </div>
        </div>
    </div>
</div>
